.BizReserve_div {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
}

.BizReserve_div>div:nth-of-type(1) {
    width: calc(100% - 500px);
    height: 100%;
    background-color: azure;
    z-index: 0;
}

.BizReserve_div>div:nth-of-type(2) {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.BizReserve_index {
    width: 100%;
    height: 100%;
}

.BizReserve_index_ul {
    border: 1px solid #E2E8F0;
    border-radius: 2px;
    width: 100%;
    height: calc(100% - 40px);
    padding: 15px;
    box-sizing: border-box;
    color: #71787f;
    font-size: 14px;
}

.BizReserve_index_ul > li:nth-of-type(1){
    height: 140px;
    border-bottom: 1px solid #E2E8F0;
}

.BizReserve_index_ul > li:nth-of-type(2){
    height: calc( 100% - 140px );
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BizReserve_index_ul > li:nth-of-type(2) > div{
    height: 60px;
}

.BizReserve_index_ul > li:nth-of-type(2) > div > input{
    width: 100%;
    height: 38px;
    padding: 2px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
}

.BizReserve_index_ul > li:nth-of-type(2) > div > span{
    height: 23px;
    line-height: 26px;
}

.BizReserve_index_ul > li:nth-of-type(2) > div > textarea{
    width: 100%;
    display: flex;
    padding: 10px 8px;
    height: calc( 100% - 33px );
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    resize: none;
}

.temple_index_area{
    height: calc( 100% - 400px ) !important;
}

.BizReserve_index_ul > li:nth-of-type(2) > div:last-of-type{
    height: 40px;
}

.temple_index_btn{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.temple_index_btn > button{
    width: 32%;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #3C50E0;
    color: #3C50E0;
}


.bizSelect_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 408px;
    border-radius: 40px;
    background-color: #EEEEEE;
    position: relative;
}

.bizSelect_div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: inherit;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    font-weight: 700;
}

.bizSelect_div>span:nth-of-type(1) {
    color: white;
}

.bizSelect_div>span.silder_box {
    background: linear-gradient(45deg, #3C50E0, #212C7A);
    position: absolute;
    left: 0px;
    z-index: 0;
}

.Templates_Top{
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Templates_Top > div{
    display: flex;
    align-items: flex-end
}

.Templates_Top > div > span:nth-of-type(1){
    color: #757575;
    font-size: 12px;
    margin-right: 4px;
}

.temple_index_double{
    width: 100%;
    display: flex;
}

.temple_index_double > div:nth-of-type(1){
    padding-right: 10px;
    width: 30%;
}

.temple_index_double > div:nth-of-type(2){
    width: 70%;
}

.biz_reservemake_btn{
    margin-top:10px;
    width: 100%;
    height: 50px;
}

.biz_reservemake_btn > button{
    width: 100%;
    height: 50px;
    background-color: #3C50E0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
}

.biz_SendingList{
    width: 975px;
    height: 600px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}