.Main_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start
}

.isSending{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}