.main_div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:default;
}

.main_div>div:nth-of-type(1) {
  overflow: auto;
  z-index: 0;
}

.settext {
  min-width: 715px;
  width: 50%;
  min-height: 850px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.settext_overlay {
  width: 100%;;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.6); /* 반투명 효과 */
  z-index: 10; /* 다른 요소들 위에 오도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}


.textfield {
  margin-top: 2.5%;
  width: 90%;
  height: 60%;
  border: 1px solid #E2E8F0;
  border-radius: 2px;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}


.textfield>li:nth-of-type(1) {
  border-bottom: 1px solid #E2E8F0;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  height: 40px;
}

.textfield>li:nth-of-type(2) {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
}

.textfield>li:nth-of-type(3) {
  margin-top: 10px;
  font-size: 14px;
  color: #5F5F5F;
  height: 20px;
}

.textfield>li:nth-of-type(3)>ul {
  padding-left: 20px;
  list-style: disc;
}

.textfield>li:nth-of-type(4) {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 5px;
  height: 20px;
}

.textfield > li:nth-of-type(5){
  width: 100%;
  height: calc( 50% - 92.5px );
}

.textfield>li:nth-of-type(5)> input {
  width: 100%;
  height: 40px;
  border: 1px solid #a8b0ca;
  border-radius: 4px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.textfield>li:nth-of-type(5)>textarea {
  width: 100%;
  height: calc( 100% - 50px );
  border: 1px solid #a8b0ca;
  border-radius: 4px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.textfield>li:nth-of-type(6) {
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 5px;
  height: 20px;
}
.textfield>li:nth-of-type(7){
  height: calc( 50% - 92.5px );
}

.textfield>li:nth-of-type(7) > div {
  width: 100%;
  height: 100%;
  border: 1px solid #E2E8F0;
  background-color: #EFF4FB;
  border-radius: 4px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  font-size: 12px;
}

.Selectfield {
  margin-top: 2.5%;
  width: 90%;
  max-height: 230px;
  height: 25%;
  border: 1px solid #E2E8F0;
  border-radius: 2px;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}


.Selectfield>li:nth-of-type(1) {
  border-bottom: 1px solid #E2E8F0;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
}

.Selectfield>li:nth-of-type(2),.Selectfield>li:nth-of-type(3) {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}

.Selectfield > li > div{
  width: 100%;
  height: 25px;
}

.Selectfield_selectbox > div{
  width: 80%;
}

.Selectfield_selectbox > span{
  width: 100%;
  height: 35px;
}

.Selectfield_selectbox > span > select {
  width: 65%;
  height: 35px;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
  margin-right: 5%;
}

.Selectfield_selectbox > span > button{
  width: 85px;
  height: 35px;
  border-radius: 4px;
}

.Selectfield_selectbox > span > button:nth-of-type(1) {
  background-color: #ffffff;
  border: 1px solid #3c50e0;
  color: #3C50E0;
  margin-right: 10px;
}

.Selectfield_selectbox > span  > button:nth-of-type(2) {
  background-color: #3c50e0;
  color: white;
  border: none;
}

.Selectfield_fileupload{
  display: flex;
}

.Selectfield_fileupload > span{
  height: 35px;
  border: 2px solid #E2E8F0;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}

.Selectfield_fileupload > span:nth-of-type(1){
  width: 65%;
  margin-right:5%;
  display: flex;
  align-items: center;
}

.Selectfield_fileupload > span:nth-of-type(1) > button{
  height: 100%;
  width: 100px;
  color:#64748B;
  background-color: #E2E8F0;
  border: none; 
}


.Selectfield_fileupload > span:nth-of-type(1) > button:hover{
  background-color: #aab2bd;
  color:#3a4553;
}

.Selectfield_fileupload > span:nth-of-type(1) > span{
  width: calc( 100% - 100px );
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.Selectfield_fileupload > span:nth-of-type(2){
  width: 30%;
  display: flex;
}

.Selectfield_fileupload > span:nth-of-type(2) > div{
  width: 100px;
  color:#64748B;
  background-color: #E2E8F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Selectfield_fileupload > span:nth-of-type(2) > input{
  width: calc( 100% - 100px );
  border: none;
  text-align: center;
}


.pickerfield {
  width: 90%;
  height: 10%;
  border-radius: 2px;
  padding-top: 12px;
  box-sizing: border-box;
  margin-top: 2.5%;
}

.pickerfield > li:nth-of-type(1){
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.pickerfield > li:nth-of-type(1) > div > input{
  width: 240px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #E2E8F0;
}

.pickerfield > li:nth-of-type(1) > div > button{
  width: 120px;
  height: 46px;
  border-radius: 4px;
}

.pickerfield > li:nth-of-type(1) > div > button:nth-of-type(1){
background-color: #ffffff;
border: 1px solid #3c50e0;
color: #3C50E0;
margin-right: 10px;
}

.pickerfield > li:nth-of-type(1) > div > button:nth-of-type(2){
  background-color: #3c50e0;
  color:white;
  border: none;
}

.pickerfield > li:nth-of-type(1) > div > button:nth-of-type(2):hover{
  background-color: #2d378a;
}

.SendingList{
  min-width: 1220px;
  width: 80%;
  height: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}




