.SendingList_ul {
    min-width: 1220px;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    display: flex;
}

.SendingList_ul>li {
    width: 600px;
    height: inherit;
    border-radius: 24px;
    overflow: hidden;
}

.SendingList_ul>li:nth-of-type(1) {
    margin-right: 20px;
}

.SendingList_ul>li:nth-of-type(2) {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

.RealTime_Send_History {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.RealTime_fontbold {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #c8d1dd;
    box-sizing: border-box;
}

.RealTime_Send_History>li:nth-of-type(1) {
    width: 80px;
}

.RealTime_Send_History>li:nth-of-type(2) {
    width: 240px;
    height: 24px;
    overflow: auto;
}

.RealTime_Send_History>li:nth-of-type(3) {
    width: 140px;
}

.RealTime_Send_History>li:nth-of-type(4) {
    width: 100px;
}

.RealTime_inbox {
    width: 550px;
    border-radius: 12px;
    border: 1px solid #97d8cb;
    color: #646464;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    background-color: #eef7f2;
}

.RealTime_Send_History_div {
    height: calc(100% - 90px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RealTime_inbox>li:nth-of-type(1) {
    width: 80px;
}

.RealTime_inbox>li:nth-of-type(2) {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RealTime_inbox>li:nth-of-type(3) {
    width: 140px;
}

.RealTime_inbox>li:nth-of-type(4) {
    width: 100px;
    border-radius: 100px;
}

.SendingList_count {
    padding: 0px 20px 0px 20px;
    position: absolute;
    top: 100%;
    margin-top: -50px;
    height: 50px;
    border-top: 1px solid #D5D5D5;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.SendingList_count>li {
    width: 110px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
    ;
    border-radius: 25px;
}

.SendingList_count>li:nth-of-type(1) {
    background-color: #FFF8EC;
    color: #FFA70B;
}

.SendingList_count>li:nth-of-type(2) {
    background-color: #EEF7F2;
    color: #00B69B;
}

.SendingList_count>li:nth-of-type(3) {
    background-color: #FCF0F2;
    color: #D34053;
}

.SendingList_count>li:nth-of-type(4) {
    width: 170px;
    position: relative;
}


.Closebutton {
    width: 25px;
    height: 25px;
    left: 100%;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    position: absolute;
    background-color: #929292;
    color: white;
}

.Closebutton:hover{
    background-color: #5a5a5a;
}


.send-success {
    border: 1px solid #97d8cb;
    background-color: #eef7f2;
}

.send-fail {
    border: 1px solid #c87980;
    background-color: #fcf0f2;
}